* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "anybody", sans-serif;
}

body {
  background-color: #fcfcfb;
  display: flex;
  flex-direction: row;
}

.title, h1, h2, h3, h4 {
  font-family: "Montserrat", system-ui, -apple-system, sans-serif;
}

label, p, span, h5, li {
  font-family: "anybody", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  border: 2px solid #a61cdd;
  padding: 15px 60px;
  border-radius: 10px;
  color: #fcfcfb;
  background-color: #0f0f0f;
  font-weight: 300;
  cursor: pointer;
  margin-top: 1em;
}

.input {
  border: 2px solid #a61cdd;
  padding: 15px 60px;
  height: 3rem;
  width: 53rem;
  border-radius: 10px;
  color: #0f0f0f;
  background-color: #fcfcfb;
}

.card:hover {
  transition: all 340ms ease-in;
  transform: translateY(-4px);
}

.card {
  width: 260px;
  height: 250px;
  background-color: #fcfcfb;
  padding: 2em;
  border: 1px solid #a61cdd;
  border-radius: 10px;
  box-shadow: -8px -4px 15px -3px rgba(0, 0, 0, 0.123);
  transition: all 700ms ease-out;
  cursor: pointer;
}

.service-card {
  max-height: 190px;
}

.card-conteiner {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: left;
  gap: 6px;
}
.card-conteiner .actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.card-conteiner .actions .delete button,
.card-conteiner .actions .edit button {
  display: flex;
  align-self: center;
  align-items: center;
  padding: 10px 20px;
}
.card-conteiner .actions .delete button img,
.card-conteiner .actions .edit button img {
  width: 18px;
  height: 18px;
}

input,
textarea {
  margin: 0.7rem auto 2em auto;
}

textarea {
  width: 53rem;
  height: 140px;
  padding: 2px 0px;
  border: 2px solid #a61cdd;
  border-radius: 10px;
}

.blur {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  filter: blur(4px);
}

.project-category {
  width: 53rem;
  height: 3rem;
  padding: 0px 10px 0px 60px;
  border: 2px solid #a61cdd;
  border-radius: 10px;
  color: #181818;
  background-color: #fcfcfb;
  margin-top: 1em;
}

.aside-section {
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #0f0f0f;
  padding: 3em;
  border-right: 4px solid #181818;
}
.aside-section .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.aside-section .container .navigation-menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aside-section .container .navigation-menu-list a {
  color: #fcfcfb;
  cursor: alias;
}
.aside-section .container .navigation-menu-list .navigation-menu-option {
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  background-color: #181818;
  cursor: pointer;
  transition: all 900ms ease-out;
}
.aside-section .container .navigation-menu-list .navigation-menu-option:hover {
  transition: all 800ms ease-in-out;
  background: linear-gradient(60deg, #0f0f0f, #181818, #0c0c0c, #252525);
  background: linear-gradient(60deg, #0f0f0f, #181818, #0c0c0c, #252525);
}

.main-section {
  margin: auto auto auto 390px;
  padding: 2em 3em;
}
.main-section .navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 60%;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  padding: 20px;
  border-radius: 10px;
}
.main-section .navbar .navbar-logo {
  cursor: pointer;
  border: 2px solid #fcfcfb;
  padding: 2px;
  border-radius: 20px;
  transition: all 600ms ease-out;
}
.main-section .navbar .navbar-logo:hover {
  transition: all 600ms ease-in;
  border: 2px solid #181818;
}
.main-section .navbar .logo {
  color: #fcfcfb;
}
.main-section .container {
  display: flex;
  align-items: left;
  align-content: left;
  flex-direction: column;
  margin: 6rem auto 0 auto;
}
.main-section .container .charts {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: space-between;
  gap: 25px;
}
.main-section .container .charts .charts-section-title {
  margin-bottom: 2rem;
}
.main-section .container .charts .top-graphic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.main-section .container .charts .top-graphic .projects-graphic-container {
  background-color: #fcfcfb;
  padding: 20px;
  width: 100%;
  border: 1px solid #a61cdd;
  border-radius: 10px;
}
.main-section .container .charts .bottom-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.main-section .container .charts .bottom-charts .category-chart-container {
  background-color: #fcfcfb;
  padding: 20px;
  width: 100%;
  border: 1px solid #a61cdd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  align-content: left;
}
.main-section .container .charts .bottom-charts .category-count-chart-container {
  background-color: #fcfcfb;
  padding: 20px;
  width: 100%;
  border: 1px solid #a61cdd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  align-content: left;
}

.warning {
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  justify-content: center;
}
.warning .warning-image {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 2rem;
  width: 120px;
  height: 120px;
}
.warning .warning-text {
  font-size: 40px;
  align-self: center;
}/*# sourceMappingURL=style.css.map */