// Colors and others

$main-color:#0f0f0f;
$text-color:#fcfcfb;
$grey-white:#fcfcfb;
$main-color-lighter:#181818;
$main-color-darker:#0c0c0c;
$secondary-color: #a61cdd;
$secondary-color-darker:#72018f;
$gradient:linear-gradient(60deg,$main-color,$main-color-lighter,$main-color-darker,#252525);

// measures and constant values
$border-radius:10px;
$section-padding:3em;
$button-padding:15px 60px;
$bg-text:30px;
$m-text:24px;
$sm-text:16px;

// mixins/functions

@mixin gradientOnHover(){
    transition: all 800ms ease-in-out;
    background: $gradient;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Chivo, sans-serif;
}

body{
    background-color: $grey-white;
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 10px;
}

// Reseting default styles

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

// aside section

.aside-section{
    background-color: $main-color;
    padding: $section-padding;
    height: 100vh;
    border-right: 4px solid $main-color-lighter;

    .container{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;


        .navigation-menu-list{
            display: flex;
            flex-direction: column;
            gap: 30px;

            .navigation-menu-option{
                font-weight: 500;
                padding: 15px;
                border-radius:$border-radius;
                background-color: $main-color-lighter;
                cursor: pointer;
                transition: all 900ms ease-out;

                a{
                    color: $text-color;
                    cursor: alias;
                }
            }

            .navigation-menu-option:hover{
                @include gradientOnHover();
                background: $gradient;
            }
        }
    }
}

// main section

.main-section{
    padding: 2em $section-padding;

    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        background-color: $main-color;
        padding: 20px;
        border-radius: $border-radius;

        .navbar-logo{
            cursor: pointer;
            border: 2px solid $grey-white;
            padding: 2px;
            border-radius: 20px;
            transition: all 600ms ease-out;
        }

        .navbar-logo:hover{
            transition: all 600ms ease-in;
            border: 2px solid $main-color-lighter;
        }
    }

    .container{
        display: block;
        margin-top: 5em;

        .main-image{
            display: flex;
            align-items: center;
            width: 40%;
            border-radius: $border-radius;
        }

        .main-text{
            font-size: $bg-text;
            color: $main-color-lighter;
        }

        .main-button{
            border:2px solid $secondary-color;
            padding: $button-padding;
            border-radius:$border-radius;
            color: $text-color;
            background-color: $main-color;
            font-weight: 600;
            cursor: pointer;
            margin-top: 1em;
        }
    }
}