// Colors and others

$main-color:#0f0f0f;
$text-color:#fcfcfb;
$dark-text-color:$main-color;
$grey-white:#fcfcfb;
$smoke-white:rgb(250, 248, 248);
$main-color-lighter:#181818;
$main-color-darker:#0c0c0c;
$secondary-color: #a61cdd;
$secondary-color-darker:#72018f;
$gradient:linear-gradient(60deg,$main-color,$main-color-lighter,$main-color-darker,#252525);

// measures and constant values
$border-radius:10px;
$section-padding:3em;
$button-padding:15px 60px;
$input-padding:15px 60px;
$bg-text:30px;
$m-text:24px;
$sm-text:16px;

.separator{
    padding: 20px 20%;
    border-radius: $border-radius;
    color: $grey-white;
    background-color: $main-color-darker;
}


.main-section{
    .container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: left;
        align-items: left;

        .project-info{
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: left;
        }

        .editing-area{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: left;
        }
    }
}